.about
  padding-bottom: 127px


@media (max-width: desktop)

  .about
    padding-bottom: 105px


@media (max-width: tablet)

  .about
    padding-bottom: 75px


@media (max-width: phone)

  .about
    padding-bottom: 60px