//colors
colors_default = #F95959
colors_dark = #233142
colors_dark_light = #CBCBCB
colors_textNav = #9a9a9a
colors_white = #fff
colors_border = #eee

//Path
paths = "/assets/images/"

//Fonts
fonts_icon = "Icons"
webfont("Icons", "fontawesome")

//Media
desktop = 1200px
tablet = 980px
phone = 765px