@import "css/fonts" //Fonts
@import "css/variable" //Variable
@import "css/normalize" //Reset style
@import "css/default" //Default
@import "css/head" //Head
@import "css/menu" //Menu
@import "css/about" //About
@import "css/foot" //Foot
@import "css/nprogress" //Nprogress plugin style
@import "css/colorbox" //Colorbox